/* Container */
.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);
    justify-content: center;
    grid-gap: 30px;
    margin: 50px 0;
}

/* Cards */
.grid-card {
    background-color: lightblue;
    width: 290px;
    height: 310px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-card_img {
    width: 290px;
    height: 310px;
    border-radius: 10px;
    object-fit: cover;
}

/* Inner Information */
.grid-card_details {
    color: #ffffff;
    font-size: 20px;
    padding: 1rem;
    position: absolute; /* to move it */
    top: 40;
    right: 100;
    bottom: 0;
}
.fav {
    color: #d1d9d9;
    background: none;
    border: none;
    font-size: 25px;
    padding: 1rem;
    position: absolute; /* to move it */
    top: 0;
    left: 100;
    right: 0;
    bottom: 100;
}
.fav:hover {
    cursor: ne-resize;
}