.navbar {
    background: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar .left-side {
    flex: 50%;
    display: flex;
    margin-left: 40px;
    justify-content: left;
}

.navbar .rigth-side {
    flex: 50%;
}

.navbar .left-side .logo {
    max-height: 80px;
}
.navbar .left-side .logo a {
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
    color: black;
}