.navbar {
    background: #ffffff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.navbar .left-side {
    flex: 10%;
    display: flex;
    justify-content: center;
}

.navbar .rigth-side {
    flex: 90%;
    display: flex;
    justify-content: left;
   padding-left: 10px; 
}
.navbar .rigth-side input {
    height: 30px;
    width: 85%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #d1d9d9; /* cambiar */
}
.navbar .rigth-side button {
    color: #d1d9d9; /* cambiar */
    outline: none;
    background: none;
    border: none;
    font-size: 17px;
}
.navbar .rigth-side .fa-search {
    border-left: 2px solid #d1d9d9;
    padding: 5px;
    padding-left: 10px;
}
.navbar .rigth-side .fa-star {
    border-right: 2px solid #d1d9d9;
    padding: 5px;
}
.navbar .rigth-side button:hover {
    cursor: pointer;
}

.navbar .left-side .logo img {
    max-height: 40px;
}